

body {
	
	
	
	
}

/*########################################################################*/
/*OVERALL SECTION STYLES*/
/*########################################################################*/
* {
	box-sizing: border-box;
}

.header{
	position: fixed;
	height: 70px;
	width: 100%;
	z-index: 99;
	background: rgba(237,237,237,1);
}

.navigation {
	position: fixed;
	width: 100%;
	margin: 70px 0 0 0;
	background: rgba(44,62,80,1); /*dark*/
	color: rgba(237,237,237,1); /*grey*/
	font-family: arial;
	border-radius: 5px;
	z-index: 99;
}

.main-body {
	background: rgba(237,237,237,1);
	background-image: url("../images/wood-floor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.footer {
	background: linear-gradient( rgba(24,33,42,1), rgba(44,62,80,1));
	background: rgba(44,62,80,1);	/*rgba(47,48,52,1)*/
	
}


/*########################################################################*/
/*HEADER STYLES*/
/*########################################################################*/

.peter {
		
}

#title img {
	padding: 0 1%;
	width: 15em;
	height: 4em;
	display: block;
	top: 0.5em;
	left: 3em;
}

#cv-download {
	float: right;
	margin: 10% 20% 0 0;
}


button{
	border: 2px solid grey;
}



/*########################################################################*/
/* NAVIGATION STYLES*/
/*########################################################################*/

#nav ul,
#nav ul li,
#nav ul ul,
#nav ul ul li {				/*get rid of all pre-set skeleton margins*/
	margin: 0px;
	
}

#nav li {					/*placement styling for the list items*/
	display: inline;
	position: relative;
	float: left;
	
}

#nav a {				/*styling for the link anchors in the list*/
	display: inline-block;
	line-height: 50px;
	padding: 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	color: rgba(237,237,237,1); /*grey*/
	
	
}

#nav a:hover {			/*styling for the hover over the menu*/
	background: rgba(237,237,237,0.1); /*grey*/
	cursor: pointer;
	color: rgba(44,62,80,0.1); /*dark*/
}



#nav .dropdown {				/* dropdown styling and webkit for dropdown transitions*/
	background: rgba(44,62,80,1); /*dark*/
    position:absolute;
	min-width: 100%;
	white-space: nowrap; 	/*allows tab length*/
    left:0;
    top:50px;
    z-index:1;
	overflow: 0;			/*this and height:0 to set dropdown hidden. remove height for transition*/
	border-radius: 0 0 5% 5%;
	-webkit-transform:perspective(100) rotate3d(1,0,0,-90deg); 	/*style of how dropdown menu appears*/
    -webkit-transform-origin:50% 0; 	/*where the dropdown appears from*/
    -webkit-transition:350ms;
    -moz-transition:350ms;				/*webkits for different browsers*/
    transition:350ms;
}

#nav ul > li:hover ul {
	overflow: auto;
	height: auto;
    max-height:1000px;
    -webkit-transform:perspective(100) rotate3d(0,0,0,0);
}




#nav .dropdown li {				/*styling for the items in the dropdown*/
	float: none;
	display: list-item;
	border-top: 1px solid rgba(237,237,237,1); /*grey*/
	
	
}

#nav .dropdown a {			/*styling for the link anchors in the dropdown*/
	display: block;
	text-transform: none;
	
	
}

#nav li:hover > a {		/*create hover colours for dropdown section*/
	background: rgba(237,237,237,1); /*grey*/
	color: rgba(44,62,80,0.75); /*dark*/
	
}


/* styling for mobile sized */

button.small-menu, .dropdown2 {
	display: none;
}

#cv-download-small {
	display: none;
}



/*########################################################################*/
/*MAIN-BODY STYLES*/
/*########################################################################*/


.background {
	background: rgba(248,248,255,0.4);
}

.home {
	background: white;
	padding: 10px 20px;
	margin: 50% 0 25% 0;
	font-family: Calibri;
	font-size: 1.1em;
	border-radius: 10px;
	
}
.home h3 {
	text-align: center;
}

.content {
	background: white;
	padding: 20px 20px;
	margin: 40% 0 25% 0;
	border-radius: 10px;
	
}
h3 {
	font-family: Calibri;
	color: #003;
}
	
}
#bio {
	color: #003; 		/*midnight blue*/
	font-family: Calibri;
	font-size: 1.2em;
	line-height:1.5em;
}

.content h2 {
	font-family: Calibri;
	color: #003;
	text-align: center;
}

p.anchor { 				/*start the dropdown links down the page so they dont appear hidden by the header & Nav bar*/
	content: "";
	display: block;
	position: relative;
	height: 8em;
	margin-top: -8em;
}

#video {
	position: relative;
	display: block;
	margin: auto;
	width: 80%;
	height: 315px;
}

img {
	position: relative;
	display: block;
	margin: auto;
	width: 60%;
	height: auto;
}


/*########################################################################*/
/*FOOTER STYLES*/
/*########################################################################*/

.footer-content {
	padding-top: 5%;
	color: rgba(237,234,229,0.9);
	text-align: center;
}


.footer-content ul {
	margin: 5% 0 0 20%;
	width: 80%;
	display: inline-block;
}

.footer-content a {
	
	color: rgba(237,234,229,0.9);		/*rgba(47,48,52,0.5)*//*rgba(237,234,229,0.5)*//*#F0F8FF*/
	text-decoration: none;
	
}

.footer-content #mail {
	margin-top: ;
}

#mail .mail-me {
	text-align: left;
	margin: 0;
	padding: 0;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		#cv-download {
			display: none;
		}
		
		#nav ul { 				
			display: none;
		}
		
		button.small-menu {
			display: inline-block;
			float: left;
			margin: 0 50px;
			padding: 10px 18px;
			background: rgba(237,237,237,1);
			color: rgba(44,62,80,1);
			font-size: 40px;
			border-radius: 5px;
		}		
		
		button.small-menu:hover, button.small-menu:active, button.small-menu:focus{
			text-decoration: none;
			background: rgba(237,237,237,1);
			border-radius: 5px;
		}
		
		.dropdown2 {				/*small dropdown menu content*/
			position:relative;
			display: inline-block;
		}
		
		.small-content {
			display: none;
			position:absolute;
			left: 50px;
			top: 76px;
			min-width: 100%;
			border-radius: 5px;
			background:	rgba(44,62,80,1);
		}
		
		.small-content a {
			left: 0;
			text-decoration: none;
			display: inline-block;
			color:rgba(237,237,237,1);
		}
		
		.small-content a:hover {
			left: 0;
			color: rgba(237,237,237,1);
		}
	
		
		.show {
			display: block;
			float: left;
		}
		
		#video{
			height: auto;
		}
		.footer-content li a{
			display: inline;
		}
		
		#cv-download-small {
			position: relative;
			display: inline;
			float: right;
			margin: 0 50px 0 0;
			height: 76px;
			width: 76px;
		}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#cv-download {
			display: none;
		}
		
		#nav ul { 				
			display: none;
		}
		
		button.small-menu {
			display: inline-block;
			float: left;
			margin: 0 50px;
			padding: 10px 18px;
			background: rgba(237,237,237,1);
			color: rgba(44,62,80,1);
			font-size: 40px;
			border-radius: 5px;
		}		
		
		button.small-menu:hover, button.small-menu:active, button.small-menu:focus{
			text-decoration: none;
			background: rgba(237,237,237,1);
			border-radius: 5px;
		}
		
		.dropdown2 {				/*small dropdown menu content*/
			position:relative;
			display: inline-block;
		}
		
		.small-content {
			display: none;
			position:absolute;
			left: 50px;
			top: 76px;
			min-width: 100%;
			border-radius: 5px;
			background:	rgba(44,62,80,1);
		}
		
		.small-content a {
			left: 0;
			width: 100%;
			text-decoration: none;
			display: inline-block;
			color:rgba(237,237,237,1);
		}
		
		.small-content a:hover {
			left: 0;
			width: 100%;
			color: rgba(237,237,237,1);
		}
	
		
		.show {
			display: block;
			float: left;
		}
		
		#video{
			height: auto;
		}
		.footer-content li a{
			display: inline;
		}
		
		#cv-download-small {
			position: relative;
			display: inline;
			margin: 0 40px 0 0;
			height: 76px;
			width: 76px;
		}
		
	}